

.plantdiv {
display: none;
background-color: #4d9900;
width:1000px;
height: auto;
padding: 20px;
margin: 10px;
text-decoration: none;
};
.plantdiv img {
  border-radius: 3%;
}
#bodymain {
  background-color: 'black';
};

.ui-block-c {
  background-color: #fff;
};

button {
  border-radius: 20%;
  background-color: #000;
  font: #fff;
  padding-left: 50px;
  padding-right: 50px;
};
